.input input {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.input textarea {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.input select {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

body{
    font-family:'Caviar Dreams';
    font-size: 20px;
    font-palette:dark;
}


.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}
